<div class="jumbotron-other">
  <div class="wrap">
    <h2>Creative</h2>

    <!-- <p class="lead">
      <img ng-src="images/no-filerev/yeoman-{{locale}}.png?v={{VERSION_TAG}}" alt="{{'views.main.I\'m Yeoman' | translate}}"><br>
    </p> -->
  </div>
</div>

<div class="row return-home">
	<div class="container">
		<row class="col-sm-12">
			<ul class="list-inline list-unstyled">
    			<li><a ng-href="#/">Home</a> > Creative</li>
  			</ul>
		</row>
	</div>
</div>

<div class="row disruptive-section"><span id="disruptive-anchor"></span>
	<div class="col-sm-12">
		<div class="container-fluid">
			<div class="disruptive-1">
    		<div class="disruptive-1-top-border Disruptive-2"></div>
    			<h1>TODAY, CUSTOMER ENGAGEMENT AND LOYALTY IS EARNED BY BRANDS THAT OFFER AUTHENTIC AND VALUABLE EXPERIENCES TO CUSTOMERS.</h1>
    		</div> 
    		<div class="disruptive-2 Disruptive-2">
				<h1>ENGAGEMENT REQUIRES ENERGETIC IDEAS THAT INSPIRE THE HEART, VALUES AND CULTURE OF YOUR AUDIENCE.</h1>
			</div>
			<div class="disruptive-3">
    			<img style="position: absolute; top: 25px; left: 25px;" src="http://pgacreative.asia/img/quote-left.gif" alt="Quote mark">
    			<h1>Origin craft marketing and communications strategies to leverage the power of brand message, digital media and social networks.</h1>
    			<img style="position: absolute; top: 25px; right: 25px;" src="http://pgacreative.asia/img/quote-right.gif" alt="Quote mark">
			</div>	        
		</div>
	</div>
</div>

<div class="row benefits">
	<div class="container">
		<div class="col-sm-6 col-sm-offset-3 thinking-padding"><span id="thinking-anchor"></span>
			<img style="" src="http://pgacreative.asia/img/thinking-h1.png" alt="We understand our clients needs">
			<span class="thinking-1">
    			<ul>
					<li>Research and explore our clients’ aspirations</li>
					<li>Study the market to understand our clients’ customers</li>
					<li>Understand our client’s product or service</li>
				</ul>				        
			</span>
		</div>
		<div class="col-sm-6 col-sm-offset-3 thinking-padding">
			<img style="" src="http://pgacreative.asia/img/thinking-h2.png" alt="We drive process">
    		<span class="thinking-2">	
        		<ul>
					<li>Assess the competitor landscape and market dynamics</li>
					<li>Define the target audience and understand what motivates them</li>
					<li>Create engagement by mapping the customer experience</li>
				</ul>		        		
			</span>
		</div>
		<div class="col-sm-6 col-sm-offset-3 thinking-padding">
			<img style="" src="http://pgacreative.asia/img/thinking-h3.png" alt="We set clear objectives">
    		<span class="thinking-3">
        		<ul>
					<li>Establish a strategy that will connect with your audience</li>
					<li>Set ROI objectives and KPIs</li>
					<li>Develop relevant engaging content and media strategy that is tailored to communicate the message and the core value of our client’s brand</li>
				</ul>		        		
        	</span>
		</div>
	</div>
</div>


<!--<div class="full-col thinking">
	<div class="col-no-padding">
		<div class="thinking-panel panel-1">
			<img style="" src="http://pgacreative.asia/img/thinking-h1.png" alt="We understand our clients needs">
    		<span class="thinking-1">
    			<ul>
					<li>Research and explore our clients’ aspirations</li>
					<li>Study the market to understand our clients’ customers</li>
					<li>Understand our client’s product or service</li>
				</ul>				        
			</span>
    	</div>	
    	<div class="thinking-panel panel-2">
    		<img style="" src="http://pgacreative.asia/img/thinking-h2.png" alt="We drive process">
    		<span class="thinking-2">	
        		<ul>
					<li>Assess the competitor landscape and market dynamics</li>
					<li>Define the target audience and understand what motivates them</li>
					<li>Create engagement by mapping the customer experience</li>
				</ul>		        		
			</span>
    	</div>
    	
    	<div class="thinking-panel panel-3">	
    		<img style="" src="http://pgacreative.asia/img/thinking-h3.png" alt="We set clear objectives">
    		<span class="thinking-3">
        		<ul>
					<li>Establish a strategy that will connect with your audience</li>
					<li>Set ROI objectives and KPIs</li>
					<li>Develop relevant engaging content and media strategy that is tailored to communicate the message and the core value of our client’s brand</li>
				</ul>		        		
        	</span>
    	</div>
	</div>
</div> -->

<div class="full-col results"><span id="results-anchor"></span>
	<div class="col-padding results-padding">
    	<h1>We work with clients across a wide range of business sectors including lifestyle / fashion brands and leading hotel brands right through to the financial services, real estate and the business services community.</h1>
    	<img src="http://pgacreative.asia/img/works.png" alt="Client Results" title="Client Results">
    </div>
</div>

<div class="full-col">
	<div class="col-no-padding">
		<div id="slideshow-panel">
    	
    		<div class="prev"></div>
    		<div class="next"></div>

        	<div id="main-slideshow" style="overflow: hidden;">
        		
				<div class="slide-container" style="position: absolute; top: 0px; left: 0px; display: block; z-index: 5; opacity: 1; width: 934px; height: 236px;">
					<div class="slide">
						<img src="http://pgacreative.asia/wp-content/uploads/2014/02/tv-thumb.jpg" class="tv-commercials-link wp-post-image" alt="tv-thumb">
						<h1>Television Commercials</h1>
					</div>
					<div class="slide">
						<img src="http://pgacreative.asia/wp-content/uploads/2013/03/thumb-abc.jpg" class="abc-link wp-post-image" alt="thumb-abc">
						<h1>ABC Cooking Studio</h1>
					</div>
					<div class="slide">
						<img src="http://pgacreative.asia/wp-content/uploads/2013/03/thumb-adidas.jpg" class="adidas-link wp-post-image" alt="thumb-adidas">
						<h1>adidas boost AR</h1>
					</div>
				</div>
								
								
				<div class="slide-container" style="position: absolute; top: 0px; left: -934px; display: none; z-index: 4; opacity: 1; width: 934px; height: 236px;">
					<div class="slide">
						<img src="http://pgacreative.asia/wp-content/uploads/2013/08/gishur-1-262x186.jpg" class="gishur-link wp-post-image" alt="Gishur website image">
						<h1>Gishur</h1>
					</div>
					<div class="slide">
						<img src="http://pgacreative.asia/wp-content/uploads/2013/03/thumb-animalplanet.jpg" class="animalplanet-link wp-post-image" alt="thumb-animalplanet">
						<h1>Animal Planet Pet Food</h1>
					</div>
					<div class="slide">
						<img src="http://pgacreative.asia/wp-content/uploads/2013/03/thumb-animalplanet2.jpg" class="animalplanet2-link wp-post-image" alt="thumb-animalplanet2">
						<h1>Animal Planet Pet Food </h1>
					</div>
				</div>
								
								
				<div class="slide-container" style="position: absolute; top: 0px; left: -934px; display: none; z-index: 4; opacity: 1; width: 934px; height: 236px;">
					<div class="slide">
						<img src="http://pgacreative.asia/wp-content/uploads/2013/03/Peter-Tasker-11-262x186.jpg" class="tasker-link wp-post-image" alt="Peter-Tasker-11">
						<h1>Peter Tasker</h1>
					</div>
					<div class="slide">
						<img src="http://pgacreative.asia/wp-content/uploads/2013/03/thumb-a2b.jpg" class="a2b-link wp-post-image" alt="thumb-a2b">
						<h1>Ultra Motor</h1>
					</div>
					<div class="slide">
						<img src="http://pgacreative.asia/wp-content/uploads/2013/03/thumb-casa.jpg" class="casa-link wp-post-image" alt="thumb-casa">
						<h1>with casa</h1>
					</div>
				</div>
								
								
				<div class="slide-container" style="position: absolute; top: 0px; left: -934px; display: none; z-index: 4; opacity: 1; width: 934px; height: 236px;">
					<div class="slide">
						<img src="http://pgacreative.asia/wp-content/uploads/2013/03/thumb-bemax.jpg" class="bmax-link wp-post-image" alt="thumb-bemax">
						<h1>BE Max</h1>
					</div>
				</div>
			</div><!-- End Main Slideshow div -->
        	
        	<div class="client-overlay tv-commercials-overlay hide">
        		<div class="close-overlay"></div>
        		<div style="float: left; width: 100%">
        			<div class="client-overlay-left">
        				<div class="client-overlay-left-padding">
        				</div>
        			</div>
        			<div class="client-overlay-right">
        				<div class="client-overlay-right-padding">
							<h1>Together with our associated TVCM Directors, PGA Creative offer the highest quality direction and production work.</h1>
							<h1>International work samples:</h1>
						</div>
					</div>
				</div>
				<div style="float: left; width: 100%">
					<div class="client-overlay-left">
						<div class="client-overlay-left-padding" style="padding: 0 10% !important">
							<div class="video-vertical">
								<div class="video-wrapper">
									<iframe class="vim" src="http://player.vimeo.com/video/86005520?api=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=fede00" width="400" height="225" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
								</div>
							</div>
						</div>
					</div>
					<div class="client-overlay-right">
						<div class="client-overlay-right-padding" style="padding: 0 10% !important">
							<h1>VW – Cricket Evolution</h1>
							<p>A passionate film that couples the evolution of cricket with Volkswagen’s technical innovation. This stylized film highlights the beauty and perfection of sports and technology.</p>
							<ul>
								<li>Shot on Alexa and Phantom HD</li>
								<li>Category: Sports, Cars</li>
							</ul>
						</div>
					</div>
				</div>
				<div style="float: left; width: 100%">
					<div class="client-overlay-left">
						<div class="client-overlay-left-padding" style="padding: 0 10% !important">
							<div class="video-vertical">
								<div class="video-wrapper">
									<iframe class="vim" src="http://player.vimeo.com/video/86002951?api=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=fede00" width="400" height="225" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
								</div>
							</div>
						</div>
					</div>
					<div class="client-overlay-right">
						<div class="client-overlay-right-padding" style="padding: 0 10% !important">
							<h1>JOLIDON CLUB</h1>
							<p>A visual journey into the world of Jolidon lingerie. This film was shot with super model Loana Gihran featuring Jolidon’s new black label series.</p>
							<ul>
								<li>Category: Beauty</li>
							</ul>
						</div>
					</div>
				</div>
				<div style="float: left; width: 100%">
					<div class="client-overlay-left">
						<div class="client-overlay-left-padding" style="padding: 0 10% !important">
							<div class="video-vertical">
								<div class="video-wrapper">
									<iframe class="vim" src="http://player.vimeo.com/video/86002956?api=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=fede00" width="400" height="225" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
								</div>
							</div>
						</div>
					</div>
					<div class="client-overlay-right">
						<div class="client-overlay-right-padding" style="padding: 0 10% !important">
							<h1>MENTOS</h1>
							<p>Mentos Japan’s new campaign features Una Hito and her super hit “I Am So Juicy”. This TVCM was shot in Beverly Hills, Los Angeles.</p>
							<p>Mentos stands for fun, creativity and personality and is a very successful product in Japan.</p>
							<ul>
								<li>Category: Lifestyle, Food, FMCG</li>
							</ul>
						</div>
					</div>
				</div>
				<div style="float: left; width: 100%">
					<div class="client-overlay-left">
						<div class="client-overlay-left-padding" style="padding: 0 10% !important">
							<div class="video-vertical">
								<div class="video-wrapper">
									<iframe class="vim" src="http://player.vimeo.com/video/86002954?api=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=fede00" width="400" height="225" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
								</div>
							</div>
						</div>
					</div>
					<div class="client-overlay-right">
						<div class="client-overlay-right-padding" style="padding: 0 10% !important">
							<h1>NIKE – Heroes</h1>
							<p>This film for Nike features apocalyptic American football in an abstract visual setup. The execution is driven by music and sound effects and shows spectacular sports action and stunts.</p>
							<ul>
								<li>Category: Sports, Sports Products</li>
							</ul>
						</div>
					</div>
				</div>
				<div style="float: left; width: 100%">
					<div class="client-overlay-left">
						<div class="client-overlay-left-padding" style="padding: 0 10% !important">
							<div class="video-vertical">
								<div class="video-wrapper">
									<iframe class="vim" src="http://player.vimeo.com/video/86002953?api=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=fede00" width="400" height="225" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
								</div>
							</div>
						</div>
					</div>
					<div class="client-overlay-right">
						<div class="client-overlay-right-padding" style="padding: 0 10% !important">
							<h1>GRUNDIG – Evolution</h1>
							<p>This corporate video shows the history and evolution of Grundig’s products. It underlines the long tradition of this great brand and communicates company values. Furthermore it shows the latest product innovations in photorealistic CGI animation. The aim of this film was to create a technical film with a human touch.</p>
							<ul>
								<li>CGI, Consumer Electronics, Corporate Video</li>
							</ul>
						</div>
					</div>
				</div>
				<div style="float: left; width: 100%">
					<div class="client-overlay-left">
						<div class="client-overlay-left-padding" style="padding: 0 10% 10% !important">
							<div class="video-vertical">
								<div class="video-wrapper">
									<iframe class="vim" src="http://player.vimeo.com/video/86002952?api=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=fede00" width="400" height="225" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
								</div>
							</div>
						</div>
					</div>
					<div class="client-overlay-right">
						<div class="client-overlay-right-padding" style="padding: 0 10% 10% !important">
							<h1>ZARA – Catwalk</h1>
							<p>Zara is a leading fashion brand. The power of simplicity is one of Zara’s key strategies. This film is based on storytelling and great art direction. An upscale fashion show transforms into an amazing event. It clearly shows ZARA’s products are special and ZARA customers are special. They are people with charisma and they a proud of this brand.</p>
							<p>Like in every fashion related advertising media the image of the brand depends on great visuals, perfectly executed in this work sample.</p>
							<ul>
								<li>Fashion, Lifestyle</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="client-overlay abc-overlay hide">
				<div class="close-overlay"></div>
				<div class="client-overlay-left">
					<div class="client-overlay-left-padding">
						<div class="video-vertical">
							<div class="video-wrapper">
								<iframe class="vim" src="http://player.vimeo.com/video/60454819?api=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=fede00" width="400" height="225" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
							</div>
						</div>
						<div class="video-vertical">
							<div class="video-wrapper">
								<iframe class="vim" src="http://player.vimeo.com/video/60454227?api=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=fede00" width="400" height="225" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
							</div>
						</div>
					</div>
				</div>
				<div class="client-overlay-right">
					<div class="client-overlay-right-padding">
						<h1>ABC Cooking Studio</h1>
						<h3><a href="http://www.abc-cooking.co.jp" target="_blank">www.abc-cooking.co.jp</a></h3>
						<p>ABC Cooking Studio invited our team to shoot a commercial to promote their cooking school.</p>
						<h2>PGA Creative provided:</h2>
						<ul>
							<li>Creative Direction</li>
							<li>Concept and Story Boards</li>
							<li>Pre-production, Production, Post-production</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="client-overlay adidas-overlay hide">
				<div class="close-overlay"></div>
				<div class="client-overlay-left">
					<div class="client-overlay-left-padding">
						<div class="video-vertical">
							<div class="video-wrapper">
								<iframe class="vim" src="http://player.vimeo.com/video/62754806?api=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=fede00" width="400" height="225" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
							</div>
						</div>
						<div class="video-vertical">
							<div class="video-wrapper">
								<iframe class="vim" src="http://player.vimeo.com/video/60455392?api=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=fede00" width="400" height="225" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
							</div>
						</div>
						<div class="client-ctrls">
							<div class="client-prev"><p>‹ Previous image</p></div>
							<div class="client-next"><p>Next image ›</p></div>
						</div>
						<div class="client-slideshow " style="position: relative; overflow: hidden;">
							<img src="http://pgacreative.asia/wp-content/uploads/2013/03/adidas-boost-AR-1.png" alt="adidas boost AR augmented reality running shoe  application Development" style="position: absolute; top: 0px; left: 0px; display: block; z-index: 8; opacity: 1;">
							<img src="http://pgacreative.asia/wp-content/uploads/2013/03/adidas-boost-AR-2.png" alt="adidas boost AR augmented reality running shoe  application Development" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 6;">
							<img src="http://pgacreative.asia/wp-content/uploads/2013/03/adidas-boost-AR-3.jpg" alt="adidas boost AR augmented reality running shoe  application Development" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 5;">
							<img src="http://pgacreative.asia/wp-content/uploads/2013/03/adidas-boost-AR-4.jpg" alt="adidas boost AR augmented reality running shoe  application Development" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 4;">
							<img src="http://pgacreative.asia/wp-content/uploads/2013/03/adidas-boost-AR-5.jpg" alt="adidas boost AR augmented reality running shoe  application Development" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3;">
							<img src="http://pgacreative.asia/wp-content/uploads/2013/03/adidas-AR-in-store-1.jpg" alt="adidas boost AR augmented reality running shoe  application Development" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 2;">
							<img src="http://pgacreative.asia/wp-content/uploads/2013/03/adidas-AR-in-store-2.jpg" alt="adidas boost AR augmented reality running shoe  application Development" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 1;">
						</div>
					</div>
				</div>
				<div class="client-overlay-right">
					<div class="client-overlay-right-padding">
						<h1>adidas boost AR</h1>
						<h3><a href="http://adidas.jp/running/boost/" target="_blank">adidas.jp/running/boost</a></h3>
						<p class="yellow-highlight">boost – a running revolution.</p>
						<p>In February 2013, adidas global launched ‘boost’, adidas’ revolutionary running shoe.</p> 
						<p>adidas Japan understood the opportunity to use the power of augmented reality to create consumer engagement and social sharing opportunities as a part of their integrated campaign.</p>
						<h2>PGA Creative&nbsp;provided:</h2>
						<ul>
							<li>adidas AR Campaign Strategy</li>
							<li>adidas AR App Creative Direction</li>
							<li>adidas AR App Production Management</li>
							<li>In-store Promotion Collaterals</li>
							<li>In-Store Promotion AR Experience</li>
							<li>adidas boost AR Viral Movie, Concept and Production</li>
							<li>ROI Analysis and Reporting</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="client-overlay gishur-overlay hide">
				<div class="close-overlay"></div>
				<div class="client-overlay-left">
					<div class="client-overlay-left-padding">
						<div class="client-slideshow ">
							<img src="http://pgacreative.asia/wp-content/uploads/2013/08/gishur.jpg" alt="Gishur website image">
						</div>
					</div>
				</div>
				<div class="client-overlay-right">
					<div class="client-overlay-right-padding">
						<h1>Gishur E-commerce site</h1>
						<h3><a href="http://www.gishur.net/" target="_blank">www.gishur.net</a></h3>
						<h2>PGA Creative&nbsp;provided:</h2>
						<ul>
							<li>Wireframe and usability development</li>
							<li>Creative direction and brand consulting</li>
			        		<li>Graphic design and layout</li>
			        		<li>Coding and development for e-commerce site integration</li>
			        		<li>Integration into GMO</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="client-overlay animalplanet-overlay hide">
				<div class="close-overlay"></div>
				<div class="client-overlay-left">
					<div class="client-overlay-left-padding">
						<div class="video-vertical">
							<div class="video-wrapper">
								<iframe class="vim" src="http://player.vimeo.com/video/60154679?api=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=fede00" width="400" height="225" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
							</div>
						</div>
						<div class="video-vertical">
							<div class="video-wrapper">
								<iframe class="vim" src="http://player.vimeo.com/video/60154362?api=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=fede00" width="400" height="225" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
							</div>
						</div>
						<div class="video-vertical">
							<div class="video-wrapper">
								<iframe class="vim" src="http://player.vimeo.com/video/60154916?api=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=fede00" width="400" height="225" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
							</div>
						</div>
					</div>
				</div>
				<div class="client-overlay-right">
					<div class="client-overlay-right-padding">
						<h1>Animal Planet Pet Food TV CM</h1>
						<h3><a href="http://www.purape.jp/" target="_blank">http://www.purape.jp/</a></h3>
						<p>Animal Planet Pet Food commissioned PGA Creative to produce a series of ‘testimonial style’ TV Commercials to promote their pet food products. Four winners and their pets were selected from an Animal Planet Pet Food online competition and cast for the commercials.  The commercials aired in Japan on Discovery Channel Networks and Fox TV.</p>
						<h2>PGA Creative provided:</h2>
						<ul>
							<li>Creative Direction</li>
							<li>Concept and Story Boards</li>
							<li>Copywriting</li>
							<li>Pre-production, Production, Post-production</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="client-overlay animalplanet2-overlay hide">
				<div class="close-overlay"></div>
				<div class="client-overlay-left">
					<div class="client-overlay-left-padding">
						<div class="client-slideshow ">
							<img src="http://pgacreative.asia/wp-content/uploads/2013/03/animal-planet-social-listening.jpg" alt="Animal Planet Social Listening">
						</div>
					</div>
				</div>
				<div class="client-overlay-right">
					<div class="client-overlay-right-padding">
						<h1>Animal Planet Pet Food Social Listening Reporting</h1>
						<h3><a href="http://www.purape.jp/" target="_blank">http://www.purape.jp/</a></h3>
						<p>PGA Creative provided social listening services to Animal Planet Pet Food to track the success and reaction from viewers and participants of the Animal Planet Pet Food digital promotion campaign. We conducted this service over a 3 month period to provide our client with qualitative research in the form of key consumer insights from multiple sources of social media.</p>
						<h2>PGA Creative provided:</h2>
						<ul>
							<li>Social Listening Report</li>
							<li>User Experience Map</li>
							<li>Web Contents Produce</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="client-overlay tasker-overlay hide">
				<div class="close-overlay"></div>
				<div class="client-overlay-left">
					<div class="client-overlay-left-padding">
						<div class="client-ctrls">
							<div class="client-prev"><p>‹ Previous image</p></div>
							<div class="client-next"><p>Next image ›</p></div>
						</div>
						<div class="client-slideshow " style="position: relative; overflow: hidden;">
							<img alt="Client image" src="http://pgacreative.asia/wp-content/uploads/2013/03/Peter-Tasker-11.jpg" style="position: absolute; top: 0px; left: 0px; display: block; z-index: 7; opacity: 1;">
							<img alt="Client image" src="http://pgacreative.asia/wp-content/uploads/2013/03/Peter-Tasker-6.jpg" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 5;">
							<img alt="Client image" src="http://pgacreative.asia/wp-content/uploads/2013/03/Peter-Tasker-22.jpg" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 4;">
							<img alt="Client image" src="http://pgacreative.asia/wp-content/uploads/2013/03/Peter-Tasker-3.jpg" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3;">
							<img alt="Client image" src="http://pgacreative.asia/wp-content/uploads/2013/03/Peter-Tasker-4.jpg" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 2;">
							<img alt="Client image" src="http://pgacreative.asia/wp-content/uploads/2013/03/Peter-Tasker-5.jpg" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 1;">
						</div>
					</div>
				</div>
				<div class="client-overlay-right">
					<div class="client-overlay-right-padding">
						<h1>Peter Tasker Brand Development</h1>
						<h3><a href="http://www.petertasker.asia/" target="_blank">www.petertasker.asia</a></h3>
						<p>“Peter Tasker, the source of financial, business, and cultural information on Asia” A series of interviews established Peter’s aspirations and also gave us a clear feeling for Peter “the personality”. PGA Creative then set about crafting his identity and the development of his homepage.</p>
						<h2>PGA Creative&nbsp;provided:</h2>
						<ul>
							<li>Client orientation workshop</li>
							<li>Brand strategy development</li>
							<li>Design direction</li>
							<li>Web design &amp; site development</li>
							<li>Key image creation</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="client-overlay a2b-overlay hide">
				<div class="close-overlay"></div>
				<div class="client-overlay-left">
					<div class="client-overlay-left-padding">
						<div class="client-ctrls">
							<div class="client-prev"><p>‹ Previous image</p></div>
							<div class="client-next"><p>Next image ›</p></div>
						</div>
						<div class="client-slideshow " style="position: relative; overflow: hidden;">
							<img src="http://pgacreative.asia/wp-content/uploads/2013/03/A2B-Intro.jpg" alt="Client image" style="position: absolute; top: 0px; left: 0px; display: block; z-index: 6; opacity: 1;">
							<img src="http://pgacreative.asia/wp-content/uploads/2013/03/A2B-Site.jpg" alt="Client image" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 4;">
							<img src="http://pgacreative.asia/wp-content/uploads/2013/03/A2B-Brand.jpg" alt="Client image" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3;">
							<img src="http://pgacreative.asia/wp-content/uploads/2013/03/A2B-Collaterals1.jpg" alt="Client image" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 2;">
							<img src="http://pgacreative.asia/wp-content/uploads/2013/03/A2B-Ultra-Motor-Brand3.jpg" alt="Client image" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 1;">
						</div>
					</div>
				</div>
				<div class="client-overlay-right">
					<div class="client-overlay-right-padding">
						<h1>Ultra Motor and A2B Brand Development</h1>
						<p>Ultra Motor’s vision is to provide people with a new choice about how they get from A to B. Ultra Motor products help to reduce CO2 emissions and provide solutions to many of the challenges we face in our daily commute. PGA Creative worked with Ultra Motor during the formative years of this innovative British start-up company prior to its recent purchase and re-branding by Hero Eco.</p>
						<h2>PGA Creative provided:</h2>
						<ul>
							<li>Establishment of brand positioning &amp; core values</li>
							<li>Design &amp; authorship of the Ultra Motor corporate identity and company guidelines</li>
							<li>Ultra Motor “A2B” product naming</li>
							<li>A2B brand identity and product line planning</li>
							<li>Creation of product collaterals, packaging, user manuals and point-of-sale materials</li>
							<li>Company web site development &amp; project management (first generation site not currently online)</li>
							<li>Company trade events and sales promotions; concept &amp; planning, design &amp; project management</li>
							<li>Product marketing</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="client-overlay casa-overlay hide">
				<div class="close-overlay"></div>
				<div class="client-overlay-left">
					<div class="client-overlay-left-padding">
						<div class="client-slideshow ">
							<div class="video-wrapper">
								<iframe class="vim" src="http://player.vimeo.com/video/60433233?api=1&amp;api=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=fede00" width="400" height="225" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
							</div>
						</div>
					</div>
				</div>
				<div class="client-overlay-right">
					<div class="client-overlay-right-padding">
						<h1>with casa</h1>
						<h3><a href="https://with-casa.jp/" target="_blank">with-casa.jp</a><br>
							<a href="https://with-casa.jp/film/" target="_blank">with-casa.jp/film</a>
						</h3>
						<p>with casa online magazine invited our team to shoot a short editorial film about Japanese packaging company, Craftsman’s Art and Pride. Our team traveled to the manufacturer and worked with the management and staff to create a this movie.</p>
						<h2>PGA Creative provided:</h2>
						<ul>
							<li>Creative Direction</li>
							<li>Concept and Story Boards</li>
							<li>Pre-production, Production, Post-production (including CG)</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="client-overlay bmax-overlay hide">
				<div class="close-overlay"></div>
				<div class="client-overlay-left">
					<div class="client-overlay-left-padding">
						<div class="client-ctrls">
							<div class="client-prev"><p>‹ Previous image</p></div>
							<div class="client-next"><p>Next image ›</p></div>
						</div>
						<div class="client-slideshow" style="position: relative; overflow: hidden;">
							<div class="video-wrapper" style="position: absolute; top: 0px; left: 0px; display: block; z-index: 3; opacity: 1;">
								<iframe class="vim" src="http://player.vimeo.com/video/60434816?api=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=fede00" width="400" height="225" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
							</div>
							<img src="http://pgacreative.asia/wp-content/uploads/2013/03/be-max.png" alt="Client image" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 1;">
						</div>
					</div>
				</div>
				<div class="client-overlay-right">
					<div class="client-overlay-right-padding">
						<h1>BE Max</h1>
						<h3><a href="http://www.be-max.info/" target="_blank">www.be-max.info</a></h3>
						<p>Medi Cube Co.,Ltd. makers of BE-MAX supplements invited our team to shoot a commercial to promote their products online and at trade events. </p>
						<h2>PGA Creative provided:</h2> 
						<ul>
							<li>Creative Direction</li>
							<li>Concept and Story Boards</li>
							<li>Pre-production, Production, Post-production (including CG)</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>


<div class="row delivers"><span id="delivers-anchor"></span>
	<div class="col-sm-12 deliver-title">
		<div class="container">
			<h1 class="deliver-heading white">PGA Creative plan marketing strategies, ad campaigns and promotions then deploy these for our clients. We manage brand strategy and creativity to ensure smooth delivery with measurable ROI.</h1>
		</div>
	</div>
	<div class="col-sm-6 col-md-3">
		<img src="http://pgacreative.asia/img/deliver-1.gif" alt="" title="">
		<div class="deliver-col-padding">
    		<span class="deliver-1">
        		<ul>
					<li>Brand management</li>
					<li>Campaign planning &amp; execution</li>
					<li>Brand values &amp; brand positioning</li>
					<li>Value proposition &amp; key messages</li>
					<li>Internal / external communications</li>
				</ul>			        		
			</span>
		</div>
	</div>	

	<div class="col-sm-6 col-md-3">
		<img src="http://pgacreative.asia/img/deliver-2.gif" alt="" title="">
		<div class="deliver-col-padding">
    		<span class="deliver-2">
        		<ul>
					<li>Website development</li>
					<li>Augmented Reality</li>
					<li>Social media activation &amp; campaign integration</li>
					<li>Digital strategy for promotion</li>
				</ul>			        		
			</span>
		</div>
	</div>

	<div class="col-sm-6 col-md-3">
		<img src="http://pgacreative.asia/img/deliver-3.gif" alt="" title="">
		<div class="deliver-col-padding">
    		<span class="deliver-3">
    			<ul>
					<li>Corporate identity &amp; style guides</li>
					<li>Marketing collaterals, packaging design, point of sale design</li>
					<li>Image production including video &amp; photography</li>
					<li>Digital and online</li>
				</ul>							
			</span>	
		</div>
	</div>	

	<div class="col-sm-6 col-md-3">
		<img src="http://pgacreative.asia/img/deliver-4.gif" alt="" title="">
		<div class="deliver-col-padding">
			<span class="deliver-4">
        		<ul>
					<li>Stakeholder interviews</li>
					<li>Competitor analysis / market research / audits</li>
					<li>Social listening</li>
					<li>Data analysis &amp; reporting</li>
				</ul>							
			</span>
		</div>
	</div>		        	
</div>

<div class="row return-home">
	<div class="container">
		<row class="col-sm-12">
			<ul class="list-inline list-unstyled">
    			<li><a ng-href="#/">Home</a> > Creative</li>
  			</ul>
		</row>
	</div>
</div>
