<div class="jumbotron">
  <h2>{{"views.main.Origin is a Tokyo based advisory & management company." | translate}}</h2>

  <!-- <p class="lead">
    <img ng-src="images/no-filerev/yeoman-{{locale}}.png?v={{VERSION_TAG}}" alt="{{'views.main.I\'m Yeoman' | translate}}"><br>
  </p> -->
</div>

<div class="row">
  <div class="container">
    <p>
    {{"views.main.Origin provide advisory and executive management services to select clients." | translate}}
    </p>
    <p>
    {{"views.main.We facilitate cross-border business and offer services in market entry localisation, communications strategy, business matching, business operations and e-commerce." | translate}}
    </p>
  </div>
</div>
