
<div class="modal fade">
  <div class="modal-dialog"> 
    <div class="modal-content">
      <div class="modal-header"> 
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> 
        <h4 class="modal-title">{{"views.main.enquiries" | translate}}</h4> 
      </div>
      <div class="modal-body">

        <form target="fake-target" method="POST" action="https://docs.google.com/forms/d/1M2cJnQy4aajEeDX3Xm_EWUd_QH_NoumCoeFMzD1GMJc/formResponse" onsubmit="customMessage(); return true;">
          <ol role="list" class="ss-question-list" style="padding-left: 0">
            <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item  ss-text">
                <div class="ss-form-entry">
                  <label class="ss-q-item-label" for="entry_1386980837">
                    <div class="ss-q-title">Name</div>
                    <!-- <div class="ss-q-help ss-secondary-text" dir="ltr">Please enter your full name</div> -->
                  </label>
                  <input type="text" name="entry.1386980837" value="" class="ss-q-short" id="entry_1386980837" dir="auto" aria-label="Name Please enter your full name " title="">
                  <div class="error-message" id="1627764549_errorMessage"></div>
                  <!-- <div class="required-message">This is a required question</div> -->
                </div>
              </div>
            </div>
            <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item  ss-text">
                <div class="ss-form-entry">
                  <label class="ss-q-item-label" for="entry_1391671483">
                    <div class="ss-q-title">Email</div>
                    <!-- <div class="ss-q-help ss-secondary-text" dir="ltr">Please enter your email address</div> -->
                  </label>
                  <input type="text" name="entry.1391671483" value="" class="ss-q-short" id="entry_1391671483" dir="auto" aria-label="Email Please enter your email address " title="">
                  <div class="error-message" id="852636141_errorMessage"></div>
                  <!-- <div class="required-message">This is a required question</div> -->
                </div>
              </div>
            </div>
            <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item  ss-text">
                <div class="ss-form-entry">
                  <label class="ss-q-item-label" for="entry_2111541104">
                    <div class="ss-q-title">Subject</div>
                    <!-- <div class="ss-q-help ss-secondary-text" dir="ltr">Please enter the nature of your inquiry</div> -->
                  </label>
                  <input type="text" name="entry.2111541104" value="" class="ss-q-short" id="entry_2111541104" dir="auto" aria-label="Subject Please enter the nature of your inquiry " title="">
                  <div class="error-message" id="1956329003_errorMessage"></div>
                  <!-- <div class="required-message">This is a required question</div> -->
                </div>
              </div>
            </div>
            <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item  ss-paragraph-text">
                <div class="ss-form-entry">
                  <label class="ss-q-item-label" for="entry_748690325">
                    <div class="ss-q-title">Message</div>
                    <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                  </label>
                  <textarea name="entry.748690325" rows="8" cols="0" class="ss-q-long" id="entry_748690325" dir="auto" aria-label="Message  "></textarea>
                  <div class="error-message" id="1323418108_errorMessage"></div>
                  <!-- <div class="required-message">This is a required question</div> -->
                </div>
              </div>
            </div>
            <input type="hidden" name="draftResponse" value="[,,&quot;6679785518708204908&quot;]">
            <input type="hidden" name="pageHistory" value="0">
            <input type="hidden" name="fbzx" value="6679785518708204908">
            <div class="ss-item ss-navigate">
              <table id="navigation-table">
                <tbody>
                  <tr>
                    <td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
                      <input type="submit" data-dismiss="modal" name="submit" value="Submit" id="ss-submit" class="jfk-button jfk-button-action ">
                      <!--<div class="ss-password-warning ss-secondary-text">Never submit passwords through Google Forms.</div> -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ol>
        </form>
        <div style="display: none;" id="form-message"></div>
        <iframe src="#" id="fake-target" name="fake-target" style="width:0px; height:0px; border:0px;"></iframe>
      </div> 
    </div>
  </div> 
</div>