<div class="jumbotron-other">
  <div class="wrap">
    <h2>Terms & Conditions</h2>

    <!-- <p class="lead">
      <img ng-src="images/no-filerev/yeoman-{{locale}}.png?v={{VERSION_TAG}}" alt="{{'views.main.I\'m Yeoman' | translate}}"><br>
    </p> -->
  </div>
</div>

<div class="row return-home">
	<div class="container">
		<row class="col-sm-12">
			<ul class="list-inline list-unstyled">
    			<li><a ng-href="#/">Home</a> > Terms & Conditions</li>
  			</ul>
		</row>
	</div>
</div>

<div class="row terms">
	<div class="container">
		<div class="col-sm-12">
			<p>The information contained and accessed on this site (the “Site”) is provided by the Origin K.K. entity indicated on the homepage as owner of the Site (“Origin”) for general guidance and is intended to offer the user general information of interest. The information provided is not intended to replace or serve as substitute for any advisory, or other professional advice, consultation or service. You should consult with Origin to obtain such services.</p>

			<p>The application of laws and regulations may vary depending on specific facts or circumstances. Due to the nature of electronic communication processes, Origin does not guarantee or warrant the Site will be uninterrupted, without delay, error-free, omission-free, or free of viruses. Therefore, the information is provided ‘as is’ without warranties of any kind, express or implied, including accuracy, timeliness and completeness. In no event shall Origin, its related partners, managing directors, principals, agents or employees be liable for any direct, indirect, incidental, special, exemplary, punitive, consequential or other damages whatsoever (including but not limited to, liability for loss of use, data or profits), without regard to the form of any action, including but not limited to, contract, negligence or other tortious actions, arising out of or in connection with the Site, any content on or accessed by use of the Site, or any copying, display or other use hereof.</p>

			<p>As content on the Site is copyrighted and proprietary, any unauthorized use of any materials on the Site may violate copyright, trademark and other laws. Should a user download the materials on the Site for personal or non-commercial use, the user must retain all copyright, trademark or other similar notices contained in the original materials or on any copies of the material. Materials on the Site may not be modified, reproduced, publicly displayed, performed, distributed or used for any public or commercial purposes without explicit written permission from the appropriate content or material provider (including third-party links). Origin bears no risk, responsibility or liability in the event that a user does not obtain such explicit written permission as advised by Origin.</p>

			<p>The Origin name, logo and “slogans” are trademarks of Origin. Use of these marks requires express permission from, and a license agreement with, Origin. Unauthorized use of these and any other of Origin’s portfolio of trademarks will be prosecuted to the fullest extent of the law. To request this written approval, contact the Webmaster or use the “Contact us” feature.</p>

			<p>Third-party links are provided as a convenience to our users. Origin does not control and is not responsible for any of these sites or their content. Origin is obligated to protect its reputation and trademarks and Origin reserves the right to request removal of any link to our Web site.</p>

			<p>The following Web link activities are explicitly prohibited by Origin and may present trademark and copyright infringement issues:</p>

			<ol>
				<li>links that involve unauthorized use of the Origin logo’s;</li>
				<li>a form of link that disguises the URL and/or bypasses the homepage or pages containing the entity copyright, legal disclaimer and online policy statement.</li>
			</ol>
		</div>
	</div>
</div>

<div class="row return-home">
	<div class="container">
		<row class="col-sm-12">
			<ul class="list-inline list-unstyled">
    			<li><a ng-href="#/">Home</a> > Terms & Conditions</li>
  			</ul>
		</row>
	</div>
</div>